<div class="landing">
  <div class="about-avengers">
    <div class="about">
      <h1 class="text-center;font-size: 100px;padding: 60px 0 0;">This is a site dedicated for heroes in the marvel cinematic universe</h1>
      </div>
  </div>

<div class="ii">
  <div class="about">

</div>
</div>
